Django==5.0.4
cryptography==50.0.1
Cython==3.3.0
lxml==6.1.1
numpy==2.5.3
Pillow==12.3.0
protobuf==7.36.2
pyOpenSSL==26.4.0
selenium==4.49.0
toml==0.10.2
tornado==6.5.10
zipp==3.23.0
django-ckeditor
psycopg2-binary
dj-database-url
gunicorn
cloudinary
whitenoise

