brotli==1.2.0
ConfigParser==7.2.0
cryptography==50.0.1
Cython==3.3.0
Django==5.0.4
dl==0.1.0
docutils==0.23
HTMLParser==0.0.2
importlib_metadata==9.0.0
importlib_metadata==8.7.1
keyring==25.7.0
lockfile==0.12.2
lxml==6.1.1
numpy==2.5.3
ordereddict==1.1
Pillow==12.3.0
protobuf==7.36.2
pyOpenSSL==26.4.0
pywin32==306
selenium==4.49.0
thread==2.0.6
toml==0.10.2
tornado==6.5.10
xmlrpclib==1.0.1
zipp==3.23.0
zipp==3.23.1
