<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<system.webServer>

    

    <rewrite>
        <rules>

            <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                <match url="^(?!static/)(.*)" />
                <action type="Rewrite" url="http://127.0.0.1:8000/{R:1}" />
            </rule>

        </rules>
    </rewrite>
        <staticContent>
            <remove fileExtension=".jpg" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpg" />
        </staticContent>

</system.webServer>
    

</configuration>
