{%load static%}
<!doctype html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{item.title}}</title>
    

    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

	<!-- This site is optimized with the Yoast SEO Premium plugin v21.9 (Yoast SEO v21.9.1) - https://yoast.com/wordpress/plugins/seo/ -->
	<!-- / description  -->
	<meta property="og:locale" content="fa_IR" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{item.title}}" />
	<meta property="og:description" content="{{item.text|safe}}" />
	<meta property="og:url" content="https://www.digikala.com/mag/فرصت-جدید-سیستم-کسب-درآمد-دیجی-کالا/" />
	<meta property="article:published_time" content="2019-10-14T14:07:11+00:00" />
	<meta property="og:image:width" content="822" />
	<meta property="og:image:height" content="522" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta name="author" content="ali tajmir riahi" />
	<meta name="twitter:card" content="summary_large_image" />
	<!-- / Yoast SEO Premium plugin. -->


<link rel="shortcut icon" href="{% static 'images/RBtfs36Jhr.ico' %}" type="image/x-icon">
<link rel='stylesheet' id='theme-style-css' href='{%static "blog/css/theme.min_index9.css"%}' type='text/css' media='all' />
<link rel='stylesheet'  href='{%static "styles/bootstrap4/bootstrap.min.css"%}' type='text/css'  />
</head>

<body>


<div class="container">

   
    <div class="main__content">
        <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="topics__content" style="width: 100%;">
                <div class="post-module post-596511 post type-post status-publish format-standard has-post-thumbnail hentry category-1 tag-newsroom-picks" id="post-596511" style="width: 100%">
                    <nav class="breadcrumbs">
    <h2 class="disappear">breadcrumbs menu</h2>
    <ul class="breadcrumbs__nav">
					            <li class="item">
                <a title="Home">Home</a>
            </li>
					           
					
        <li class="item" style="text-align: start;">
            {{item.title}}							        </li>
    </ul>
	
	</nav>                    
                    <article>
                        <div class="post-module__title">
                            <h1 class="_txt entry-title" style="text-align: start;">{{item.title}}</h1>
                            <div class="social-act">
                                                                                            </div>
                        </div>
                        <div class="post-module__author">
                                                                                    <div style="background-color: #ef5661;color: #ffffff;" class=" custom-author-background user-profile-stat-wrapper">
                                                                <span class="vcard author post-module__author--name">
                                    <span style="background-color: #ef5661;color: #ffffff;" class="fn"><a href="https://www.digikala.com/mag/newsroom/" title="ارسال شده توسط اتاق خبر دیجی‌کالا" rel="author">اتاق خبر دیجی‌کالا</a></span>
                                </span>
                            </div>
                                                        <i class="icon-clock-icon"></i>
                            <span class="post-module__author--date published">
                                <time
                                    datetime="2019-10-14 17:37:11">
                                    {{item.created}}                               </time>
                            </span>
                            <span class="disappear updated">{{item.created}}</span>
                            <span class="read-time-wrapper" >
    
    <i class="icon-stopwatch read-time__icon"></i>
</span>                        </div>

                        <figure class="post-attachment">
    
           
</figure>

                        <div class="post-module__content" style="width: 100%;">
                            {{item.text|safe}}
                        </div>
                        

                        
                                                
                        <div id="block-4" class="adverge-widget single-post-adverge-desktop widget-wrapper widget_block"><div smr-id="79" smr-type="native_infeed"></div></div>
                        <div class="post-module__social dialog">
                            
<span class="social-networks">

                        <a                       class="icon-telegram"
                      rel="nofollow"
                      href="https://telegram.me/share/url?url=https%3A%2F%2Fwww.digikala.com%2Fmag%2F%3Fp%3D596511&text=فرصت‌های جدید در سیستم همکاری در فروش دیجی‌کالا"
                      target="_blank"></a>
          	
	        <a                 class="icon-whatsapp"
                rel="nofollow"
                href="whatsapp://send?text=https%3A%2F%2Fwww.digikala.com%2Fmag%2F%3Fp%3D596511"
                target="_blank"></a>
		
	        <a                 class="icon-twitter"
                rel="nofollow"
                href="http://twitter.com/intent/tweet/?text=فرصت‌های جدید در سیستم همکاری در فروش دیجی‌کالا&url=https%3A%2F%2Fwww.digikala.com%2Fmag%2F%3Fp%3D596511"
                target="_blank"></a>
		
	        <a                 class="icon-fb"
                rel="nofollow"
                href="http://www.facebook.com/sharer/sharer.php?m2w&s=100&p&#91;url&#93;=https%3A%2F%2Fwww.digikala.com%2Fmag%2F%3Fp%3D596511&p&#91;images&#93;&#91;0&#93;=https%3A%2F%2Fwww.digikala.com%2Fmag%2Fwp-content%2Fuploads%2F2019%2F10%2Fnews-mag.jpg&p&#91;title&#93;=فرصت‌های جدید در سیستم همکاری در فروش دیجی‌کالا&p&#91;summary&#93;=سیستم کسب درآمد دیجی‌کالا (Affiliate Marketing) چیست؟ سیستم همکاری در فروش یک مدل بازاریابی است که در آن هم فروشنده هم کسی که محصولات فروشنده را معرفی و تبلیغ م"
                target="_blank"></a>
		
	        <a                 class="icon-linkedin"
                rel="nofollow"
                href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.digikala.com%2Fmag%2F%3Fp%3D596511&title=فرصت‌های جدید در سیستم همکاری در فروش دیجی‌کالا&source=https%3A%2F%2Fwww.digikala.com%2Fmag"
                target="_blank"></a>
	          </span>


<span class="post-module__social--sep"></span>
                            
                                                        <span class="post-module__social--sep"></span>
                            <span class="post-module__social--btn">
                                <i class="icon-comment"></i>
                                <span class="_num">۱۳</span>
                            </span>
                                                 </div>
                                                <div class="_sep"></div>
                        <div class="post-module__tags">
                            <span class="post-module__tags--title">Key Words : </span>
                            {% for tag in tags%}
                            <a href="{{tag.linq}}" rel="tag" class="post-tag post-module__tags--item item">{{tag.name}}</a>
                            {%endfor%}
                                                   </div>
                                            </article>
                    
        
    
</div>
            
                
</div>
</section>                            </div>
        <div class="col-md-4 col-sm-12 col-xs-12">   <aside class="topics__aside sticky-sidebar__distant">
                <div class="theiaStickySidebar">
                    <div class="post-nav" style="margin-top: 25px;">
                                                <div class="post-nav__body">
    <div class="_title">
        <span class="bold">posts</span>
        <span>Related</span>
    </div>
    <ul class="related-posts">
        {%for i in blogs_lasted%}
                <li class="related-posts__item">
            <a href="{% url 'blog:single_blog' i.slug i.id %}" title="{{i.title}}" class="image-wrapper">
                <img width="60" height="60" src="{{i.image.url}}" class="image-wrapper__img wp-post-image" alt="" decoding="async" style="width: 150px;height: 70px;" />            </a>
            <div class="detail-wrapper">
                <a href="{% url 'blog:single_blog' i.slug i.id %}" title="{{i.title}}"
                    class="detail-wrapper__title">{{i.title}}</a>
                <div class="detail-wrapper__time">
                    <i class="icon-clock-icon"></i>
                    <span class="detail-wrapper__time--detail">{{i.publish}}</span>
                </div>
            </div>
        </li>
             {%endfor%}  
            </ul>
</div>                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<div class="search-box">
    <div class="search-box__top">
        <span class="search-box__top--close">
            <span class="search-box__top--close-txt">بازگشت</span>
            <i class="icon-close"></i>
        </span>
    </div>
    <div class="search-box__wrapper">
                    <form method="get" action="https://www.digikala.com/mag/" role="form">
                <div class="search-box__wrapper__txt">
                    <i class="icon-search"></i>
                    <input type="search" name="s" id="s" placeholder="جستجو کنید..." value="" maxlength="50" autocomplete="off" />
                </div>
            </form>
        
        <div class="search-box__wrapper__result">
                    </div>

            </div>
</div>
<!--Metrika counter -->


</body>
</html>
