<!DOCTYPE html>
<html lang="en">
{%extends 'base.html'%}
{%block title%}
{%load static%}
{%endblock%}


{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'styles/categories_styles.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'styles/categories_responsive.css'%}">
{%endblock%}




		<!-- Main Navigation -->

		

	{%block content%}

	

	<div class="container product_section_container">
		<div class="row">
			<div class="col product_section clearfix">

				<!-- Breadcrumbs -->

				<div class="breadcrumbs d-flex flex-row align-items-center">
					<ul>
						<li><a href="{%url 'blog:all_group'%}">خانه</a></li>
					
					</ul>
				</div>

				<!-- Sidebar -->

				<div class="sidebar">
					

					<!-- Price Range Filtering -->
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5>فیلتر بر اساس قیمت</h5>
						</div>
						<p>
							<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
						</p>
						<div id="slider-range"></div>
						<div class="filter_button"><span>فیلتر</span></div>
					</div>

					

					

				</div>

				<!-- Main Content -->

				<div class="main_content">

					<!-- Products -->

					<div class="products_iso">
						<div class="row">
							<div class="col">

								<!-- Product Sorting -->

								<div class="product_sorting_container product_sorting_container_top">
									<ul class="product_sorting">
										<li>
											<span class="type_sorting_text">مرتب سازی بر اساس</span>
											<i class="fa fa-angle-down"></i>
											<ul class="sorting_type">
												<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }' ><a href="/blog/category/select_item/default"><span>پیشفرض</span></a></li>
												<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><a href="/blog/category/select_item/price"><span>قیمت</span></a></li>
												<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "consent" }'><a href="/blog/category/select_item/consent"><span>میزان رضایت مندی مشتری</span></a></li>
											</ul>
										</li>
										<li>
											<span>نمایش</span>
											<span class="num_sorting_text">6</span>
											<i class="fa fa-angle-down"></i>
											<ul class="sorting_num">
												<li class="num_sorting_btn"><span>6</span></li>
												<li class="num_sorting_btn"><span>12</span></li>
												<li class="num_sorting_btn"><span>24</span></li>
											</ul>
										</li>
									</ul>
									<div class="pages d-flex flex-row align-items-center">
										{%if queryset.has_previous%}
										<a href="?page={{queryset.previous_page_number}}" style="margin-right: 5px;"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
										{%endif%}
										<div class="page_current">
											
											<span>{{queryset.number}}</span>
											
										</div>
										<div class="page_total"><span>of</span>{{queryset.paginator.num_pages}}</div>
										<div id="next_page" class="page_next">{%if queryset.has_next%}<a href="?page={{ queryset.next_page_number }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>{%endif%}</div>
									</div>

								</div>

								<!-- Product Grid -->

								<div class="product-grid">

									<!-- Product 1 -->
									{%for item in queryset%}
									<div class="product-item men">
										<div class="product discount product_filter">
											<div class="product_image">
												<a href="{% url 'blog:single_product' item.slug item.id%}"><img src="{{ item.file.url }}" style="width: 200px;height: 258px;" alt="{{item.alt}}"></a>
											</div>
											<div class="favorite favorite_left"></div>
											<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>%{{item.consent}}</span></div>
											<div class="product_info">
												<h6 class="product_name"><a href="single.html">{{item.title}}</a></h6>
												<div class="product_price">تومان{{item.price}}</div>
											</div>
										</div>
										<div class="red_button add_to_cart_button"><a href="{% url 'blog:single_product' item.slug item.id%}">ورود به کالا</a></div>
									</div>
									{%endfor%}
									<!-- Product 2 -->

									
								</div>

								<!-- Product Sorting -->

								<div class="product_sorting_container product_sorting_container_bottom clearfix">
									
									
									<div class="pages d-flex flex-row align-items-center">
										{%if queryset.has_previous%}
										<a href="?page={{queryset.previous_page_number}}" style="margin-right: 5px;"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
										{%endif%}
										<div class="page_current">
											
											<span>{{queryset.number}}</span>
											
										</div>
										<div class="page_total"><span>of</span>{{queryset.paginator.num_pages}}</div>
										<div id="next_page" class="page_next">{%if queryset.has_next%}<a href="?page={{ queryset.next_page_number }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>{%endif%}</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Benefit -->

	<!--  -->

	

</div>
{%endblock%}


{%block script%}
<script src="{%static 'nplugins/jquery-ui-1.12.1.custom/jquery-ui.js'%}"></script>
<script src="{%static 'js/categories_custom.js'%}"></script>
{%endblock%}
